.header {
  background: url(../img/header-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 650px;
  .nav {
    padding: 35px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 550px;
      list-style: none;
      &-item {
        position: relative;
        &-link {
          color: #ffffff;
        }
        &:after {
          content: "";
          position: absolute;
          left: 105px;
          top: 0;
          height: 18px;
          width: 6px;
          background: url(../img/sep.svg) no-repeat 50% 50%;
          background-size: cover;
        }
        &:last-child:after {
          content: "";
          display: none;
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 155px;
    color: #ffffff;
    text-transform: uppercase;
    &-title {
      margin: 0;
      font-size: 46px;
    }
    &-text {
      margin-top: 30px;
      font-size: 30px;
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;;
      width: 140px;
      height: 40px;
      border: solid 2px #48bf72;
      border-radius: 3px;
      &-text {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #48bf72;
        text-transform: uppercase;
      }
    }
  }
}
